<a href="https://colab.research.google.com/github/sathishkumar081/python/blob/main/corporate_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

somof cubes
pro allint m>n -1
pro all odd in m>n 0
pro  alleven
sum of factr

In [25]:
while True:
  m=int(input("Enter the value of m"))
  if m==0:
    break
  else:
    n=int(input("Enter the value of n"))
    sum=0
    if m>n:
      for i in range(m,n+1,-1):
        sum+=i**3
    else:

      print("m should be greater than n")
  print(sum)

Enter the value of m8
Enter the value of n3
1196
Enter the value of m0