<a href="https://colab.research.google.com/github/238w1a0281-glitch/basic-python/blob/main/training_17_sep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print name
print("sathish")

sathish

In [ ]:
#using input fun
s=input("enter your name")
print(s)

enter your namesathish
sathish

In [ ]:
#print full name
a=input("enter the first name")
b=input("enter the second name")
c=a+b
print(c)

enter the first namesathish
enter the second name k
sathish k

In [ ]:
#sum of two numbers
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=a+b
c

enter the first number5
enter the second number6

11

In [ ]:
#swap two numbers without 3rd variable
a=int(input("enter the first number"))
b=int(input("enter the second number"))
a=a+b
b=a-b
a=a-b
print(a,b)

enter the first number12
enter the second number13
13 12

In [ ]:
#to print primitive datatypes
a=5
b=1.4
c=True
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
#to print non-primitive datatypes
a=(1,2,3)
b=[1,2,3]
c={1,2,3,4,5}
d={1:"a",2:"b"}
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [ ]:
a=int(input("enter the number"))
print(a**2)

enter the number5
25

In [ ]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int(input("enter the third number"))
print((a+b+c)//3)

enter the first number3
enter the second number3
enter the third number3
3

In [4]:
def tiffen_items():
  print("Welcome to Tiffen Section \nWhat type of Tiffen you want like \n1.Dosa \n 2.Idly \n 3.Puri \n 4.Bajji")
  a=int(input("Enter the Tiffen you would like in (1-4)"))
  if a==1:
    price=25
  elif a==2:
    price=
  b=int(input("Enter the quantity you would like"))
  bill=b*25
  print("Your bill is",bill)